<div class="hero-unit">
	<h1>This is my first Rails app! So cool!</h1>
	<p>This will be amazing!!!! 
	</p>

	<p>
		<%= link_to "Sign Up through Facebook!", "http://www.facebook.com" , class: "btn btn-success btn-large" %>
	</p>

</div>


