<div class="hero-unit">
	<h1>Pages#home</h1>
	<p>I am awesomeeee bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
	</p>

	<p>
		<%= link_to "Sign Up through Facebook!", "http://www.facebook.com" , class: "btn btn-success btn-large" %>
	</p>

</div>


