<h1>Pages#home</h1>
<p>I am awesomeeee bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
	<%= link_to "Facebook", "http://www.facebook.com" %>
</p>

<div class="footer">
		<small>
				<a href="http://www.google.com">Google</a>
		</small>
</div>