$basefontfamily: Autour One;
@import url(http://fonts.googleapis.com/css?family=Autour+One);

$navbarBackgroundHighlight: white;
$navbarBackgroundHighlight: green;
$navbarText: white;
$navbarBrandColor: white;
$navbarLinkColor: white;
$btnSuccessBackground: green;

@import 'bootstrap';

.body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
	margin-top: 50px;
	color: $gray;
	a {
		color: $green;
	}
}